mat-progress-bar {
  transform: rotate(-90deg);
  display: block;
  margin-left: 10%;
  margin-right: auto;
  width: 70%;
  height: 10px;
}

//image of temp scale
.image{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 10%;
}

//image of motor off
.image1 {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 150px;
  position: absolute;
  top: 70px;
  left: 10px;
}

//image of motor on
.image2 {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 150px;
  position: absolute;
  top: 70px;
  left: 200px;
}
